@model IEnumerable<Bookmark.Core.Bookmark>

@{
    ViewBag.Title = "Index";
}
@Html.ActionLink("Create New", "Create")
<h2>Index</h2>
@using (Html.BeginForm("Index", "Bookmarks", FormMethod.Get))
{
    <input type="text" value="@ViewBag.Search" name="search" />
    <button type="submit">Search</button>
}
<table>
    <thead>
        <tr>
            <th>Description</th>
            <th>Title</th>
            <th>Tags</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bookmark in Model)
        {
            <tr>
                <td>@bookmark.Description</td>
                <td><a href="@bookmark.Article.URL" title="@bookmark.Description : @bookmark.Article.URL">@bookmark.Article.Title</a></td>
                <td>
                    <ul>
                        @foreach (var tag in bookmark.Tags)
                        {
                            <li>@tag.Text</li>
                        }
                    </ul>
                </td>
                <td>@Html.ActionLink("Edit","Edit", new { id = bookmark.Id }) | @Html.ActionLink("Delete","Delete", new { id = bookmark.Id }) </td>
            </tr>
        }
    </tbody>
</table>